@model List<Payroll.Controllers.ViewModels.RoleViewModel>

@{
    ViewData["Title"] = "Roles list";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">

                <!-- Breadcrumb -->
                @await Html.PartialAsync("_BreadcrumbPartial", new[]
                {
                    "Admin", @ViewData["Title"], null
                })
                <br/>

                <!-- Title -->
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="page-title">@ViewData["Title"]</h2>
                    </div>
                </div>

                <!-- Create button -->
                <div class="row">
                    <div class="col-md-6" style="padding-top:30px">
                        <div class="text-md-start">
                            <a class="btn btn-primary" role="button" asp-action="CreateRole">
                                Create role
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Table -->
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Title</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.Name</td>
                            <td>
                                <a class="btn btn-outline-primary button"
                                   asp-action="EditRole" asp-route-id="@item.Id">
                                    edit
                                </a>
                                <button class="btn btn-outline-danger button" onclick="showConfirmationDialog(event,
                                        'Are you sure you want to delete this news?',
                                        '@Url.Action("DeleteRole", new {id = @item.Id})')">
                                    delete
                                </button>
                            </td>
                        </tr>
                    }
                    </tbody>
                    <tfoot></tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

@await Html.PartialAsync("../Shared/_DeleteConfirmationModal")

<style>
    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }

    th,
    td {
        border: 1px solid #dddddd;
        text-align: center;
        padding: 12px;
    }

    th {
        background-color: #e9eaf5;
    }

    td {
        max-width: 200px;
        /* Limit the maximum width of cells */
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    a {
        text-decoration: none;
    }

    a:hover {
        color: #0319eb;
        /*text-decoration: underline;*/
    }

    .table-responsive {
        overflow-x: auto;
    }

    .button {
        padding: 0 0.9rem
    }
</style>