@model IEnumerable<Payroll.Controllers.ViewModels.UserViewModel>

@{
    ViewData["Title"] = "User list";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">

                <!-- Breadcrumb -->
                @await Html.PartialAsync("_BreadcrumbPartial", new[]
                         {
                "Admin", @ViewData["Title"], null
                })
                <br />

                <!-- Title -->
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="page-title">@ViewData["Title"]</h2>
                    </div>
                </div>
            </div>

            <!-- Table -->
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Role</th>
                            <th>Login</th>
                            <th>Created</th>
                            <th>LockoutEnd</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Count() == 0)
                        {
                            <tr>
                                <td style="padding:30px" colspan="100">
                                    The table is empty.
                                </td>
                            </tr>
                        }
                        else
                        {
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@string.Join(", ", item.Roles!)</td>
                                    <td>@item.UserName</td>
                                    <td>@item.Created.ToString("dd.MM.yyyy")</td>
                                    <td>@item.LockoutEnd?.ToString("dd.MM.yyyy HH:mm")</td>
                                    <td>
                                        <a class="btn btn-outline-primary button"
                                           value="@item.Id" asp-action="BlockUser"
                                           asp-route-id="@item.Id">
                                            block
                                        </a>
                                        <a class="btn btn-outline-danger button"
                                           value="@item.Id" asp-action="UnBlockUser"
                                           asp-route-id="@item.Id">
                                            unblock
                                        </a>
                                        <a class="btn btn-outline-info button"
                                           value="@item.Id" asp-action="EditUser"
                                           asp-route-id="@item.Id">
                                            edit
                                        </a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                    <tfoot></tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

<style>
    table {
        padding: 10px;
    }

    th,
    td {
        border: 1px solid #dddddd;
        text-align: center;
        padding: 12px;
    }

    .table-responsive {
        overflow-x: auto;
    }

    .button {
        padding: 0 0.9rem
    }
</style>